div.dropdown-menu.show {
    background-color: #fff;
}

a.dropdown-item {
    color: #ffffff;
}

.dropdown-item:active {
    background-color: #fff !important;
    color: #431D72 !important;
}

.navbar-nav a:hover {
    color: #431D72 !important;
    font-weight: 500 !important;
    background-color: #f0e3ff !important;
    border-radius: 5px;
}

.navbar-nav a {
    font-weight: 500 !important;
    color: #7F7F7F;
}

nav a {
    font-weight: 500 !important;
    color: #7F7F7F;
}
nav a:hover {
    color: #431D72 !important;
    font-weight: 500 !important;
}

.countNumbers {
    color: #fff !important;
    font-size: 50px !important;
}

.countText {
    color: #fff !important;
}

.activenav{
    color: #fff !important;
    background-color: #431D72 !important;
    border-radius: 5px;
}

